config.env
*.pyc
data*
.vscode
.idea
*.json
*.pickle
.netrc
log.txt
accounts/*
Thumbnails/*
MediaInfo/*
Images/*
rclone/*
list_drives.txt
cookies.txt
downloads
bot.session
user.session
terabox.txt
rclone.conf
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/
.venv*/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm / VS Code / IDE settings
.idea/
.vscode/

# Logs
*.log

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Profiling
.prof

# Misc
.DS_Store
Thumbs.db
